<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793952773208-77pdr80lshpi4ver6jrq6hmbgpv3uk2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793952773208-77pdr80lshpi4ver6jrq6hmbgpv3uk2j</string>
	<key>API_KEY</key>
	<string>AIzaSyA5GS7RW-8-H2PMwdCCmEntEj-Ny8cBvZY</string>
	<key>GCM_SENDER_ID</key>
	<string>793952773208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neuralflavor.app</string>
	<key>PROJECT_ID</key>
	<string>neuralflavor</string>
	<key>STORAGE_BUCKET</key>
	<string>neuralflavor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793952773208:ios:0edbb8524d2520d197d62d</string>
</dict>
</plist>